:root {
  /* font-size */
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.375rem;
  --fs-xl: 2.25rem; 

  /* color */
  --cl-primary: #5380EA;
  --cl-secondary: #0F172A;
  --cl-emphasis: #E54A2A;
  --cl-gray: #475569;
  --cl-lightgray: #767676;

  /* font-weight */
  --fw-rg: 400;
  --fw-md: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-xb: 800;
  /* font-family */
  --ff-link: "Open Sans", serif;
  --ff-p: "Arial", serif;
  --ff-subtitle: "Roboto", serif;
  --ff-title: "Nunito", serif;
  --ff-list: "Montserrat", serif;
  --ff-span: "Poppins", serif;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: 1px solid red;
  border: 0;

}


a{
  font-family: var(--ff-link);
  color: #122222;
  font-weight: var(--fw-sb);
  font-size: var(--ff-link) ;
}

body{
  background-color: #EBF0FF;
}

header{
  margin: 15px 29px 0 46px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  color: #fff;
  border-radius: 31px;
  background-color: var(--cl-primary);


}
nav>ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 60px;
}
